/* **********BOX-SIZING********* */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* **********TIPOGRAFIA******** */

/* **********VARIABLES******** */
:root {
  --uno-color: #364586;
  --dos-color: #567ad0;
  --tres-color: #465fab;
  --cuatro-color: #567ad0;
  --fondo-color: #fcfcfc;
}

/* ***************************** */

body {
  background-color: var(--fondo-color);
  font-size: 18px;
  border: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

/* Redes Inicio */
.redesInicio {
  background-color: #b8b6b6;
  opacity: 0.7;
  color: white !important;
}

.colorIcono {
  color: white;
}

.colorIcono:hover {
  color: var(--dos-color);
}

/* NAV */
.logo {
  width: 70px;
}

.enlacesNav {
  font-size: 18px;
}

.background {
  padding: 0px;
  background-color: #b8b6b6;
}

.navbar {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.colorEnlace {
  color: var(--uno-color);
  transition: color 0.3s ease;
}

.colorEnlace:hover {
  color: #567ad0;
}

/* ENSAYO */

.tituloNuestro {
  background-color: var(--uno-color);
  color: var(--fondo-color) !important;
  padding: 8px;
  margin-top: 50px;
}

.ensayo > h2,
h3 {
  color: var(--uno-color);
}

.ensayo > p,
.ensayo ul {
  font-size: 14px;
  line-height: 40px;
}
/* Nuestro Equipo */

.nuestroEquipo {
  color: var(--uno-color);
  margin-top: 100px;
  margin-bottom: 80px;
}

/* CARD */
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  height: auto;
  /* object-fit: cover; */
  border-radius: 10px 10px 0 0;
  width: 150px;
  margin: auto;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.2rem;
  color: #555;
}

.tarjeta {
  width: 250px;
  margin: auto;
}
