/* **********BOX-SIZING********* */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* **********TIPOGRAFIA******** */

/* **********VARIABLES******** */
:root {
  --uno-color: #364586;
  --dos-color: #567ad0;
  --tres-color: #465fab;
  --cuatro-color: #567ad0;
  --fondo-color: #fcfcfc;
}

/* ***************************** */

body {
  background-color: var(--dos-color);
  font-size: 18px;
  border: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

/* Redes Inicio */
.redesInicio {
  background-color: #b8b6b6;
  opacity: 0.7;
  color: white !important;
}

.colorIcono {
  color: white;
}

.colorIcono:hover {
  color: var(--dos-color);
}

/* NAV */
.logo {
  width: 70px;
}

.enlacesNav {
  font-size: 18px;
}

.background {
  padding: 0px;
  background-color: #b8b6b6;
}

.navbar {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.colorEnlace {
  color: var(--uno-color);
  transition: color 0.3s ease;
}

.colorEnlace:hover {
  color: #567ad0;
}
