/* **********BOX-SIZING********* */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* **********TIPOGRAFIA******** */

/* **********VARIABLES******** */
:root {
  --uno-color: #364586;
  --dos-color: #567ad0;
  --tres-color: #465fab;
  --cuatro-color: #567ad0;
  --fondo-color: #fcfcfc;
}

/* ***************************** */

body {
  background-color: var(--fondo-color);
  font-size: 24px;
}

/* NAV */
.logo {
  font-size: 24px;
  width: 100px;
}

.background {
  padding: 0px;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #2c176a;
}

/* carousel */

.carousel-item {
  height: 100%;
}

/* Cotización */
.cotizar {
}

.text {
  font-size: 54px;
  color: var(--uno-color);
}

.textParrafo {
  font-size: 32px;
  color: var(--dos-color);
}

.botonComenzar {
  background-color: var(--uno-color);
  color: var(--fondo-color);
  border-color: var(--fondo-color);
}

.persona_celular {
  width: 100%;
}
