/* **********BOX-SIZING********* */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* **********TIPOGRAFIA******** */

/* **********VARIABLES******** */
:root {
  --uno-color: #364586;
  --dos-color: #567ad0;
  --tres-color: #465fab;
  --cuatro-color: #567ad0;
  --fondo-color: #fcfcfc;
}

/* ***************************** */

body {
  background-color: var(--fondo-color);
  font-size: 18px;
  border: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

/* Redes Inicio */
.redesInicio {
  background-color: #b8b6b6;
  opacity: 0.7;
  color: white !important;
}

.colorIcono {
  color: white;
}

.colorIcono:hover {
  color: var(--dos-color);
}

/* NAV */
.logo {
  width: 70px;
}

.enlacesNav {
  font-size: 18px;
}

.background {
  padding: 0px;
  background-color: #b8b6b6;
}

.navbar {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.colorEnlace {
  color: var(--uno-color);
  transition: color 0.3s ease;
}

.colorEnlace:hover {
  color: #567ad0;
}

/* carousel */

.border {
  border: 2px solid #567ad0 !important;
}

.tarjeta1 {
  text-align: end;
  font-size: 24px;
  position: relative;
}

.tarjeta1texto {
  top: 50%;
  width: 70%;
  position: absolute;
}

.tarjeta2 {
  text-align: end;
  font-size: 32px;
  position: relative;
}

.tarjeta2texto {
  top: 50%;
  width: 75%;
  position: absolute;
}

.botonVermas {
  color: var(--dos-color);
  background: none;
  border: none;
}
.botonVermas:hover {
  background-color: var(--fondo-color);
}

.tarjeta3 {
  top: 20%;
  background-color: rgba(255, 188, 112, 0.8);
  height: 60%;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}
.imgWilli {
  width: 200px;
}
.textdesarrollo {
  font-size: 38px;
  color: #364586;
}
/* Parrafo Intermedio */
.descripcionParrafo {
  height: 700px;
  text-align: center;
  margin: auto;
}

.imagenParrafo {
  width: 400px;
}

.ensayoParrafo {
  font-family: "Alkatra", cursive;
  color: var(--uno-color);
  font-size: 24px;
}

.conocer-mas {
  color: var(--uno-color);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.conocer-mas:hover {
  background-color: #0069d9; /* Cambiar el color de fondo al pasar el mouse por encima */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Agregar una sombra más grande al pasar el mouse por encima */
}
/* Cotización */
.cotizar {
  background-image: url(imgs/persona_celular.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

.text {
  font-size: 36px;
  color: var(--fondo-color);
  /* margin-bottom: 10px; */
}

.textParrafo {
  font-size: 22px;
  color: var(--fondo-color);
}

.botonComenzar {
  background-color: var(--uno-color);
  color: var(--fondo-color);
  border: none;
  width: 300px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.botonComenzar:hover {
  background-color: black;
  opacity: 0.5;
  transition: background-color 0.7s ease;
}

.persona_celular {
  width: 100%;
  opacity: 0.6;
}

/* telefono */

.telefono {
  background-color: var(--uno-color);
  color: var(--fondo-color);
  padding: 30px;
  text-align: center;
}

.telefono:hover {
  color: var(--dos-color);
  background-color: black;
  transition: background-color 0.7s ease;
}

.aTelefono {
  color: var(--fondo-color);
  font-size: 24px;
}

/* API GOOGLE MAPS */

#map {
  height: 500px;

  margin: auto;
}

.dondeEncontrarnos {
  margin-top: 100px;
  background-color: var(--uno-color);
  color: var(--fondo-color);
}
/* presentacion App */

.presentacionApp {
  color: white;
  text-align: center;
  border: none;
  margin-top: 80px;
}

.imagenApp {
  width: 100%;
  border: none;
}
.textoApp {
  margin-top: 100px;
  font-size: 20px;
  color: #364586;
}

.itemsApp > li {
  color: wheat;
  padding: 10px;
}

.itemsApp > li > i {
  color: var(--fondo-color);
  margin-left: 30px;
}

.iconosApp {
  letter-spacing: 80px;
  font-size: 80px;
  color: #364586;
  margin-right: 50px;
  opacity: 0.8;
}

.proximamente {
  display: inline-block;
  background-color: var(--fondo-color);
  text-align: right !important;
  font-size: 26px;
}

/* Footer */
.bgFotter {
  background-color: #b8b6b6;
}

.navFotter > a > i {
  color: var(--dos-color);
}

.navFotter > a > i:hover {
  color: var(--uno-color);
}

.iconoFooter {
  height: 70px;
  filter: grayscale(80%);
  margin-top: auto;
}

/* Contacto */

#contacto-form {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
}

#contacto-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#contacto-form input[type="text"],
#contacto-form input[type="email"],
#contacto-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contacto-form textarea {
  height: 150px;
}

#contacto-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#contacto-form button[type="submit"]:hover {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #016dd9;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* API HOLDER */

.clientes {
  display: flex;
  flex-wrap: wrap;
}

.columna {
  flex: 1;
  padding: 10px;
}

.cliente {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.cliente h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #567ad0;
}

.cliente p {
  margin-bottom: 0;
  font-size: 0.9em;
  color: #666;
}
