/* **********BOX-SIZING********* */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* **********TIPOGRAFIA******** */

/* **********VARIABLES******** */
:root {
  --uno-color: #364586;
  --dos-color: #567ad0;
  --tres-color: #465fab;
  --cuatro-color: #567ad0;
  --fondo-color: #fcfcfc;
}

/* ***************************** */

body {
  background-color: var(--fondo-color);
  font-size: 18px;
  border: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

/* Redes Inicio */
.redesInicio {
  background-color: #b8b6b6;
  opacity: 0.7;
  color: white !important;
}

.colorIcono {
  color: white;
}

.colorIcono:hover {
  color: var(--dos-color);
}

/* NAV */
.logo {
  width: 70px;
}

.enlacesNav {
  font-size: 18px;
}

.background {
  padding: 0px;
  background-color: #b8b6b6;
}

.navbar {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.colorEnlace {
  color: var(--uno-color);
  transition: color 0.3s ease;
}

.colorEnlace:hover {
  color: #567ad0;
}

/* carousel */

.border {
  border: 2px solid #567ad0 !important;
}

/* Parrafo Intermedio */
.descripcionParrafo {
  height: 700px;
  text-align: center;
  margin: auto;
}

.imagenParrafo {
  width: 400px;
}

.ensayoParrafo {
  font-family: "Alkatra", cursive;
  color: var(--uno-color);
  font-size: 24px;
}
/* Cotización */
.cotizar {
  background-image: url(imgs/persona_celular.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

.text {
  font-size: 36px;
  color: var(--fondo-color);
  /* margin-bottom: 10px; */
}

.textParrafo {
  font-size: 22px;
  color: var(--fondo-color);
}

.botonComenzar {
  background-color: var(--uno-color);
  color: var(--fondo-color);
  border: none;
  width: 300px;
  margin-top: 30px;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* margin: 4px 32px; */
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.botonComenzar:hover {
  background-color: black;
  opacity: 0.5;
}

.persona_celular {
  width: 100%;
  opacity: 0.6;
}

/* telefono */

.telefono {
  background-color: var(--uno-color);
  color: var(--fondo-color);
  padding: 30px;
  text-align: center;
}

/* API GOOGLE MAPS */

#map {
  height: 500px;

  margin: auto;
}

.dondeEncontrarnos {
  margin-top: 100px;
  background-color: var(--uno-color);
  color: var(--fondo-color);
}
/* presentacion App */

.presentacionApp {
  color: black;
  text-align: center;
}

.celuApp {
  filter: blur(5px);
}

.textoApp {
  font-size: 35px;
}

.textoAppTitulo {
  font-size: 40px;
  margin-top: 170px;
}

.iconosApp {
  font-size: 50px;
}

/* Contacto */

#contacto-form {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
}

#contacto-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#contacto-form input[type="text"],
#contacto-form input[type="email"],
#contacto-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contacto-form textarea {
  height: 150px;
}

#contacto-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#contacto-form button[type="submit"]:hover {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #016dd9;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
