/* BOX-SIZING */
.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-color: #567ad0;
  font-size: 24px;
}

/* NAV */
.logo {
  font-size: 24px;
  width: 100px;
}

.background {
  padding: 0px;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #2c176a;
}

/* carousel */

.carousel-item {
  height: 100%;
}
