/* **********BOX-SIZING********* */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* **********TIPOGRAFIA******** */

/* **********VARIABLES******** */
:root {
  --uno-color: #364586;
  --dos-color: #567ad0;
  --tres-color: #465fab;
  --cuatro-color: #567ad0;
  --fondo-color: #fcfcfc;
}

/* ***************************** */

body {
  background-color: var(--fondo-color);
  font-size: 18px;
  border: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

/* Redes Inicio */
.redesInicio {
  background-color: #b8b6b6;
  opacity: 0.7;
  color: white !important;
}

.colorIcono {
  color: white;
}

.colorIcono:hover {
  color: var(--dos-color);
}

/* NAV */
.logo {
  width: 70px;
}

.enlacesNav {
  font-size: 18px;
}

.background {
  padding: 0px;
  background-color: #b8b6b6;
}

.navbar {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.colorEnlace {
  color: var(--uno-color);
  transition: color 0.3s ease;
}

.colorEnlace:hover {
  color: #567ad0;
}

/* COTIZACION */

.formularios {
  background-image: url(../imgs/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 20px;
}

.form-group {
  width: 29%;
  margin: 40px 20px 20px 20px;
}

.form-control {
  border: 1px solid black;
}

.cotizacion-container {
  margin: 20px;
  width: 100vw;
  height: 300px;
  display: flex;
  position: relative;
}

.select-options {
  width: 20%;
  margin-bottom: 40px;
}

.select-marca {
  position: absolute;
  margin-top: 30px;
}

.select-modelo {
  position: absolute;
  margin-top: 30px;
  margin-left: 360px;
}

#price {
  display: none;
  padding: 10px;
  background-color: #E3E6F0;
  color: #262b62;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: fit-content;
  position: absolute;
  margin-left: 20px;
  margin-top: 180px;
}

.btn {
  font-size: 26px;
  background-color: #364586;
  position: absolute;
  margin-top: 220px;
  margin-left: 240px;
  width: 130px;
  height: 50px;
}

.final-price {
  display: flex;
  flex-direction: row;
}

/* Contacto */

#contacto-form {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
}

#contacto-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#contacto-form input[type="text"],
#contacto-form input[type="email"],
#contacto-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contacto-form textarea {
  height: 150px;
}

#contacto-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#contacto-form button[type="submit"]:hover {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #016dd9;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* Footer */
.bgFotter {
  background-color: #b8b6b6;
}

.navFotter > a > i {
  color: var(--dos-color);
}

.navFotter > a > i:hover {
  color: var(--uno-color);
}

.iconoFooter {
  height: 70px;
  filter: grayscale(80%);
  margin-top: auto;
}
