.cotizacion {
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .formularios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 20px;
  }
  
  .form-group {
    width: 30%;
    margin: 20px 20px 20px 20px;
  }
  
  .form-control {
    border: 1px solid black ;
  }